body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center vertically */
    padding: 10px;
    background-color: #D8FBC6;
    color: #fff;
    text-align: left;
    position: fixed;
}

#houseLine {
    color: #A3C195;
    margin-right: 10px;
}

.container h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: #A3C195;
    text-align: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center horizontally */
    flex-grow: 1;
    /* Grow to take remaining space */
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
    /* Remove right margin for the last item */
}

ul li a {
    text-decoration: none;
    color: #A3C195;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

ul li a:hover {
    color: #fff;
    background: rgba(185, 230, 165, 0.30);
}

ul li a:active {
    color: #fff;
    background: rgba(185, 230, 165, 0.30);
}

#UserCircle {
    color: #A3C195;
    margin-right: 20px;
}

#UserCircle:hover {
    color: #e5e7e4;
}