.view-page-group {
    align-self: center;
    display: flex;
    border-radius: 30px;

}

.view-page-group-buttons {
    margin-top: 95px;
    align-self: center;
    display: inline-block;
    padding: 40px;
    max-width: 60%;
    height: 400px;
    border-radius: 30px;
    border: 1px solid #b2b3b2;
    box-shadow: 0 3px 10px #A3C195;
    overflow: hidden;
    margin-left: 250px;
}


.view-page-group>.image-housing {
    width: 50%;
    border-radius: 20px;
}

.view-page-group>.image-housing>.information {
    width: 50%;
    margin-left: 70px;

}

h2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: #A3C195;
    text-align: left;
    margin-left: 20px;
}

#cardItem {
    text-decoration: none;
    color: #6d726b;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: #6d726b;
    margin-left: 20px;
}

.buttons-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#cardB {
    background-color: #A3C195;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}