.favorite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;

}

.favorate-card {
    display: flex;
    width: 824PX;
    height: 205px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px #E5F6DD;
    border-radius: 17px;
}

.card-image-favorite {
    width: 269px;
    height: 78%;
    padding: 20px 0px 20px 15px;
    border-radius: 35px;
    /* margin-top: 5.5%; */
    margin-bottom: 10%;
}

.card-content-favorite {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.title-trash-favorite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    z-index: -800;
}

.card-title-favorite {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #93ad87;
    z-index: -800;
}

.card-text-favorite {
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 700px;
    height: auto;
    overflow-wrap: break-word;
    color: #9b9898;
    z-index: -800;
}

.card-details-favorite {
    position: absolute;
    top: 40%;
    left: 47%;
    z-index: -800;
}


#DotsThreeOutlineVertical-favorite {
    fill: #BFB9B9;
    position: absolute;
    bottom: -81px;
    right: -143px;
    cursor: pointer;
    z-index: -800;
}

#MapPinLine-favorite{
    position: absolute;
    bottom: -73px;
    left: -308px;
    fill: #BFB9B9;
    cursor: pointer;
}

#Phone-favorite {
    position: absolute;
    bottom: -74px;
    left: -278px;
    fill: #BFB9B9;
    cursor: pointer;
}

#trash-icon {
    /* position: absolute; */
    /* top: 20px; */
    /* left: 292px; */
    fill: #BFB9B9;
    /* margin-bottom: 146px; */
    cursor: pointer;
  }

#ClearAll {
    position: absolute;
    position: fixed;
    left: 65px;
    bottom: 70px;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    background-color: #d8fbc6;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
@media (max-width: 768px) {
    #trash-icon {
      top: 5px;
      right: 5px;
    }
  }