.users {
    padding: 100px;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #D8FBC6;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #D8FBC6;
    color: white;
}