.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
    
.main .img-sign {
    width: 44px;
    height: 41px;
    margin-right: 25px;
    margin-top: 20px;
    align-self: flex-end;
}
.main .sign-in-form {
    margin-left: 189px;
    /* margin-top: 60px; */
    max-width: 400px;
    height: 600px;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;

}

.img-log {
    top: 60px;
    width: 436px;
    height: 613px;
    position: fixed;
    left: 800px;
    z-index: 0;
}

.main .sign-in-form .forgot-password>span {
    font-family: sans-serif;
    margin-left: 177px;
    color: #a3c195;
}

.main .sign-in-form .title {
    width: 300px;
    height: 116px;
    display: flex;
    margin-top: 15px;
    align-self: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #A3C195;
}

.main .sign-in-form .title>span {
    margin-top: 31px;
}

.main .sign-in-form .span-text {
    width: 400px;
    margin-top: 99px;
    align-self: center;
}

.main .sign-in-form .span-text .condition {
    color: #9d9a9a;
    margin-left: 25px;
}

.main .sign-in-form .span-text .sign-up>a {
    color: #a3c195;
    text-decoration: none;
    font-weight: bold;
    margin-left: 8px;
}

.main .sign-in-form .signIn-button {
    padding: 15px;
    display: flex;
    align-items: center;
    margin-top: 21px;
    justify-content: center;
    margin-right: -5px;

}

.main .sign-in-form button {
    width: 35%;
    align-self: center;
    padding: 12px;
    box-sizing: border-box;
    background-color: #A3C195;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.main .sign-in-form p {
    text-align: center;
    color: #9e9e9e;
    cursor: pointer;
}

.main .sign-up>span>a {
    color: #023E8A;
    text-decoration: none;
    font-weight: bold;
    margin-left: 8px;
}

#email {
    margin-bottom: 30px;
}

.forgot-password {
    width: 100%;
    display: flex;
    align-content: left;
}

#forgot-password {
    display: flex;
    position: relative;
    top: -18px;
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
    font-size: 11px;
}